.max_container{
    background-image: url(/assets/images/above-art-background-733852.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -8.4vh;
    height: 100vh;
    /* width: 100vw; */

}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}