form {
    padding: 20px 50px;
    margin: auto;
}
.login {
    width: 100%;
    display:inline-block;
    vertical-align: top;
    color: white;
    margin: 0px 0px 5px 0px;
}

.register {
    width: 100%;
    display:inline-block;
    vertical-align: top;
    color: white;
}

.login p {
    font-size: 24px;
}

.register p {
    font-size: 24px;
}

.name_reserved {
    float:right;
    padding: 10px;
}

div.widthLimiter {
    width: 33%;
    height: 100%;
    background-color: #18453b;
    margin: auto;
}

div.col {
    margin: auto;
}

max_container{
    background-image: url(/assets/images/computer-desk-electronics-238118.jpg);
    /* background-position: center; */
    /* margin-top: -3.7vh; */
    /* height: 100vh; */
    /* width: 100%; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: -8.4vh; */
    height: 100vh;
    /* width: 100vw; */
}
div.form-group small {
    color: white !important;
}
